* {
    margin: 0;
}

.profile-header {
    display: flex;
}

.profile-text {
    font-size: 300px;
}

.profile-spacing {
    width: 50%;
}

.profile-photo {
    max-width: 200px;
}

.temporary-image {
    max-width: 70%;
    height: auto;
}